/* FONT */
/* font-family: 'Source Sans Pro', sans-serif; */

/* Générique */
*,
*::after,
*::before{
    box-sizing: border-box;
}

:root{
    --white-text: #fff;
    --blue-hover: #9bf1ff;
    --primary: #242943;
    --secondary: #2a2f4a;
    --nav-fond: rgba(36, 41, 67, 0.9);
    --nav-separation: rgba(212, 212, 255, 0.1);
    --margin: 6rem;
    scroll-behavior: smooth; 
    font-size: 62.5%; /* 1rem -> 10px */
}

html {
    min-height: 100%;
    -webkit-font-smoothing : antialiased;
    width: 100vw;
    overflow-x: hidden;
}

body{
    font-size: 1.6rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--white-text);
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
    body {
        /* The hack for Safari */
        min-height: -webkit-fill-available;
    }
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

ul{
    padding: 0;
}



/* BACKGROUND */
#accueil{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* #accueil::after{
    content: "";
    background-color: rgba(36, 41, 66, .7);
    position: absolute;
    width: 100%;
    height: 100%;
} */


/* HEADER */
header{
    position: absolute;
    overflow: hidden;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: .4rem;
    font-weight: 600;
    padding: 2rem 0;
    z-index: 90;
}


/* LOGO */
.headerGauche{
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.headerGauche p{
    margin: 0;
}

.logo{
    background-color: #fff;
    padding-left: .9rem;
    padding-right: .4rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    text-align: center;
    margin-right: 1rem;
    transition: all ease-out .3s;
}
.logo:hover{
    background-color: var(--blue-hover);
}

.logo a{
    color: #242943;
}



/* BURGER */
.headerDroit{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.menu{
    margin: 0;
    font-size: 1.6rem;
    letter-spacing: .4rem;
    font-weight: 600;
    color: var(--white-text);
    margin-right: 1rem;
    transition: all ease-out .3s;
}

.menu:hover{
    color: var(--blue-hover);
}


.nav-list{
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle farthest-corner at center center, #242943 0%, #2a2f4a 80%, #333333 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(-100%);
    transition: all ease-in-out .4s;
    box-shadow: 1px 9px 42px 1px rgba(36,41,67,0.79);
    z-index: 99;
    padding: 4% 0;
}


.nav-list li a{
    text-decoration: none;
    color: var(--white-text);
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 5rem;
    display: inline-block;
    transition: all .3s;
}

.nav-list li a:hover{
    color: var(--blue-hover);
    transform: translateY(-0.5rem);
}



.burger{
    width: 9.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* right: 2.5rem; */
    z-index: 100;
}

.burger .bar{
    position: relative;
    display: inline-block;
    width: 100%;
    height: .2rem;
    background-color: #fff;
    
}


.burger .bar::before, .burger .bar::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: all .3s;
}





.burger .bar::before{
    transform: translateY(-0.6rem)
}

.burger .bar::after{
    transform: translateY(.6rem);
}


#burger-toggle:checked ~ .nav-list{
    transform: none;
}

#burger-toggle:checked ~ .burger .bar::before{
    transform: rotate(45deg);
}

#burger-toggle:checked ~ .burger .bar::after{
    transform: rotate(-45deg);
}

#burger-toggle:checked ~ .burger .bar{
    background-color: transparent;
}

#burger-toggle{
    display: none;
}


/* ACCUEIL */

.texteAccueil{
    position: absolute;
    overflow: hidden;
    width: 85vw;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    z-index: 2;
}

h1{
    margin: 0;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 5rem;
}

.line1{
    display: block;
    width: 100%;
    height: .2rem;
    background-color: #fff;
}

.texteDessous{
    min-width: 50%;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

.texteDessous-g{
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: .9rem;
    letter-spacing: .3rem;
    font-weight: 600;
    line-height: 1.4rem;
}

.button{
    background-image: url("../img/arrow-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 15.3rem;
    background-size: 3rem;
    display: flex;
    align-items: center;
    transition: all ease-out .3s;
}


.button a{
    width: 20rem;
    height: 4rem;
    padding-left: 2.5rem;
    border: .2rem solid #fff;
    color: var(--white-text);
    display: flex;
    align-items: center;
    transition: all ease-out .3s;
}

.button:hover{
    background-image: url("../img/arrow-blue.svg"); 
}

.button a:hover{
    border: .2rem solid var(--blue-hover);
    color: var(--blue-hover);
}

.button p{
    margin: 0;
    font-size: 1.4rem;
    letter-spacing: .3rem;
    font-weight: 600;
    line-height: 2.3rem;
}


/* GALLERY */

#gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.blocPhoto{
    position: relative;
    overflow: hidden;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 2s;
}


.aliquam{
    background-color: rgba(111, 195, 223, .8);
}

.tempus{
    background-color: rgba(141, 130, 196, .8);
}

.magna{
    background-color: rgba(236, 141, 129, .8);
}

.ipsum{
    background-color: rgba(231, 183, 136, .8);
}

.consequat{
    background-color: rgba(142, 169, 232, .8);
}

.etiam{
    background-color: rgba(135, 197, 164, .8);
}


.blocPhoto a{
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}


.blocPhoto img{
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: -1;
    transition: all ease-out 2s;
}

.blocPhoto:hover img{
    transform: scale(1.05);
}




.aliquam:hover{
    background-color: rgba(111, 195, 223, .4);
}

.tempus:hover{
    background-color: rgba(141, 130, 196, .4);
}

.magna:hover{
    background-color: rgba(236, 141, 129, .4);
}

.ipsum:hover{
    background-color: rgba(231, 183, 136, .4);
}

.consequat:hover{
    background-color: rgba(142, 169, 232, .4);
}

.etiam:hover{
    background-color: rgba(135, 197, 164, .4);
}





.textePhoto{
    width: 80%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 4rem;
}

h2{ 
    margin: 0;
    font-weight: 600;
    font-size: 4rem;
    line-height: 5rem;
}



.textePhoto p{
    margin: .3rem 0;
    font-size: 1.5rem;
    letter-spacing: .4rem;
    font-weight: 600;
    line-height: 1.9rem;
}

.line2{
    display: block;
    width: 10rem;
    height: .2rem;
    background-color: #fff;
    transition: all ease 2s;
}

.blocPhoto:hover .line2{
    width: 15rem;
}

/* ARTICLE */
#article{
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocArticle{
    width: 100%;
    margin-left: var(--margin);
    margin-right: var(--margin);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 5rem;
    padding-bottom: 6rem;
}

.blocArticle h2{
    font-size: 4rem;
    line-height: 8rem;
}

.texteArticle{
    margin: 2.5rem 0;
    line-height: 2.7rem;
}


.line3{
    display: block;
    width: 25rem;
    height: .2rem;
    background-color: #fff;
}

/* CONTACT */
#contact{
    width: 100%;
    color: var(--white-text);
    background-color: var(--primary);
}


#contact p{
    margin: 0;
}


/* FORMULAIRE */

button, input, select, label, textarea {
    font-family: inherit;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    font-weight: 600;
    line-height: 1.4rem;
}

#nom, #email, #message{
    background-color: var(--secondary);
}

#formulaire{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: .2rem solid var(--secondary);
    border-bottom: .2rem solid var(--secondary);
    border-left: .2rem solid var(--secondary);
}

form{
    /* width: 80%; */
    width: 100%;
    margin-left: var(--margin);
    margin-right: var(--margin);

    display: flex;
    flex-direction: column;
    padding: 2.5rem 0;
}

.form-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-name, .form-email{
    width: 100%;
}

.form-name input, .form-email input, textarea{
    width: 100%;
}

input{
    height: 4rem;
    border: none;
    margin: 1rem 0;
}

textarea{
    border: none;
    margin: 1rem 0;
}

.form-button-send{
    padding-left: 3rem;
    padding-right: 3rem;
    margin-right: 1rem;
    transition: all ease-out .3s;
}
.form-button-send:hover{
    cursor: pointer;
    background-color: var(--blue-hover);
}

.form-button-clear{
    background-color: transparent;
    color: var(--white-text);
    border: .1rem solid #fff;
    padding-left: 3rem;
    padding-right: 3rem;
    transition: all ease-out .3s;
}

.form-button-clear:hover{
    cursor: pointer;
    background-color: transparent;
    color: var(--blue-hover);
    border: .1rem solid var(--blue-hover);
}

/* PERSO */

h3{
    margin: 0;
    font-weight: 600;
}

.info{
    display: flex;
    flex-direction: column;
}
.contourInfo{
    width: 100%;
    border-bottom: .2rem solid var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}


.blocInfo{
    width: 100%;
    margin-left: var(--margin);
    margin-right: var(--margin);
    display: flex;
    align-items: flex-start;
    padding: 4rem 0;
}


.contourIcon a{
    display: block;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    border-radius: 50%;
    background-color: #fff;
    transition: all ease-out .3s;
}

.contourIcon a:hover{
    border-radius: 0;
    background-color: var(--blue-hover);
}


.texteInfo{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: .4rem;
    line-height: 2rem;
}

.texteInfo a{
transition: all ease-out .3s;
}

.texteInfo a:hover{
    color: var(--blue-hover);
}

.icon-texte{
    color: var(--white-text);
    font-weight: bold;
}

.icon-soustexte{
    font-size: 1.2rem;
    color: var(--white-text);
    font-weight: 100;
    margin-top: 1.2rem;
    letter-spacing: .1rem;
}

.lien-email{
    border-bottom: .15rem dotted;
}

/* FOOTER */
footer{
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocFooter{
    /* width: 80%; */
    width: 100%;
    margin-left: var(--margin);
    margin-right: var(--margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem 0;
}


.social{
    display: inline-block;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
}

.social a{
    display: block;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    border-radius: 50%;
    background-color: #fff;
    transition: all ease-out .3s;
}

.social a:hover{
    border-radius: 0;
    background-color: var(--blue-hover);
}



.blocFooter p{
    color: rgba(244, 244, 255, 0.2);
    font-size: 1.3rem;
    margin: 0;
}

.blocFooter p a{
    color: rgba(244, 244, 255, 0.2);
    border-bottom: .15rem dotted;
    line-height: 3rem;
    transition: all ease-out .3s;
}

.blocFooter p a:hover{
    color: var(--blue-hover);
}










